.inputmain{
    padding: 0px !important;
}
.field-lbl{
    font-family: "Muli";
    background-color: white;
    color: #002A7E;
    padding: 0px 2px;
    font-size: 10px;
    position: absolute;
    top: -8px;
    left: 20px;
    z-index: 99;
}

.input-field{
    position: relative;
    border: 1px solid #002A7E !important;
    border-radius: 3px !important;
    font-family: "Muli";
    &:focus {        
        box-shadow: 0px 0px 4px 0px #52C4D4 !important;
    }
    @media only screen and (max-width: 600px) {
        font-size: 12px !important;
        padding: 10px !important;
      }
}